.width-100-percent-important{width: 100% !important;}
form.form-template label.not-required:before {display:none;}
.inner-content-header .upload-docs-btn{padding: 8px ;position: absolute;top: 0;right: 435px;outline: none;}
@media only screen and  (max-width: 820px) {
.inner-content-header .upload-docs-btn{position: initial!important;width: 100%;margin-top: 15px;}
}

.document-versioning-tabs .attachment-wrapper .attachment-content{padding: 25px 15px;border: 1px solid #577577;position: relative;overflow: hidden;height: 100px;}
.document-versioning-tabs .attachment-wrapper .attachment-content p {    color: #b6b6b6;font-size: 12px;    z-index: 1;position: relative;}
.document-versioning-tabs .attachment-wrapper .attachment-content span.logo-bg{color: #c7edee;font-size: 150px;position: absolute;bottom: 0;left: 0;line-height: 0;}
.document-versioning-tabs .attachment-wrapper a.attachment-btn{    background-color: #577577;padding: 10px;color: #fff;border-radius: 5px;font-size: 10px;text-align: center;display: block;margin-top: 30px;text-decoration: none;}
/*.document-versioning-tabs .form-group{width: 100%;}*/
.document-versioning-tabs .form-group textarea{width: 100%;height:130px;outline: none;}
.document-versioning-tabs ul.action-links li {list-style: none;display: inline-block;padding: 0 5px;}
.document-versioning-tabs ul.action-links li a{    color: #70898b;text-decoration: none;}
.document-versioning-tabs .button-wrapper {margin: 0 auto;display: block;margin-top: 30px;}
.document-versioning-tabs .button-wrapper  button{ float: right;   background-color: #0ac8cf;border: 0;color: #1a5b3e;width: 210px;padding: 15px;outline: none;    margin: 10px 15px;font-size: 12px;}
.document-versioning-tabs .grey-font-color{ color: #b6b6b6;font-size: 12px; }
.document-versioning-tabs table.docs-table{background-color: #fff;}
.document-versioning-tabs table.docs-table thead{background-color: #09c8d0;}
.document-versioning-tabs table.docs-table tr th{padding: 10px;font-size: 12px;color: #fff;}
.document-versioning-tabs table.docs-table tr td{padding: 10px;font-size: 12px;color:#525558;}
.document-versioning-tabs table.docs-table  .regular-checkbox {display: none;}
.document-versioning-tabs table.docs-table  .regular-checkbox + label {background-color: #fafafa;border: 1px solid #cacece;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);padding: 9px;border-radius: 3px;display: inline-block;position: relative;}
.document-versioning-tabs table.docs-table  .regular-checkbox + label:active, .document-versioning-tabs table.docs-table  .regular-checkbox:checked + label:active {box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);}
.document-versioning-tabs table.docs-table  .regular-checkbox:checked + label {background-color: #e9ecee;border: 1px solid #adb8c0;box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);color: #99a1a7;}
.document-versioning-tabs table.docs-table  .regular-checkbox:checked + label:after {content: '\2714';font-size: 14px;position: absolute;top: 5px;left: 3px;color: #577577;
}

.attached-files-list {padding: 0;}
.attached-files-list li{list-style: none;display: inline-block;width: 100%;color: #414141;font-style: italic;padding: 15px;border:1px solid transparent; word-break: break-all;}
.attached-files-list li:hover{border:1px solid #577577;background-color: #fff;}
.attached-files-list li .docs-icon img{margin-right: 5px;}
.attached-files-list li ul{padding: 0;}
.attached-files-list li ul li, .attached-files-list li ul li:hover{list-style: none;display: inline-block;width: auto;padding: 0 5px;border:0!important;}
.attached-files-list li ul li a {color:#a9a9a9;font-size: 12px;}
.attached-files-wrapper a.show-more-btn, .attached-files-wrapper a.show-less-btn{    background-color: #bfcecf;display: block;text-align: center;padding-bottom: 5px;color: #73998b;}
.attached-files-wrapper a.show-less-btn{display: none;padding-top: 5px;padding-bottom: 0;}
 @media only screen and  (max-width:544px) {
.document-versioning-tabs .attachment-wrapper .attachment-content{height: auto;}
.document-versioning-tabs .attachment-wrapper .attachment-content span.logo-bg{font-size: 200px;}
.document-versioning-tabs .button-wrapper  button{width:80%!important;float: none;margin: 15px auto;display: block;}
 }
  .document-versioning-tabs  .filter-wrapper  label{color:#808080;font-size: 10px;}
   .document-versioning-tabs .filter-wrapper  select{border-radius: 5px!important;}
  .document-versioning-tabs .filter-wrapper  .form-control,   .document-versioning-tabs .filter-wrapper  span.input-group-addon{font-size: 12px;border: 1px solid #808080!important;border-radius: 0;height: 50px;color: #9a9a9a;background-color: transparent;    height: 30px;border-color: #9a9a9a;}
  .document-versioning-tabs .filter-wrapper  .form-control:focus {outline: 0;-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102,175,233,.6);box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102,175,233,.6);}
  .document-versioning-tabs .filter-wrapper  .input-group.date input{border-right: 0;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
  .document-versioning-tabs .filter-wrapper  span.input-group-addon{border-top-right-radius: 5px;border-bottom-right-radius: 5px;    border-left: 0!important;}
  .document-versioning-tabs .filter-wrapper  .form-group{margin-right: 10px;}
  .document-versioning-tabs .filter-wrapper  .fromto-line {border-top: 4px solid #808080;width: 12px;position: absolute;right: -11px;top: 35px;}

@media only screen and  (max-width: 991px) {
.document-versioning-tabs .filter-wrapper{position: initial!important;}
.document-versioning-tabs .filter-wrapper  .fromto-line{display: none;}
}

#timeline-slider {position: relative;height: 450px;}
#timeline-slider .owl-controls .owl-buttons div{    color: #215759;display: inline-block;zoom: 1;margin: 5px;padding: 3px 10px;font-size: 12px;background: #cbd8d8;position: absolute;border-radius:0!important;top: 0;height: 100%;padding-top: 220px;opacity: 1;}
#timeline-slider .owl-controls .owl-buttons div.owl-prev {left: -28px;}
#timeline-slider .owl-controls .owl-buttons div.owl-next {right: -28px;}
#timeline-slider .item .item-head{background-color: #99e4e7;margin-top: 5px;color: #144c4e;text-align: center;padding: 5px;}
#timeline-slider .item.second-item .item-head, #timeline-slider .item.second-item #cd-timeline::before, #timeline-slider .item.second-item .cd-timeline-img.cd-picture{background-color: #53bfc4!important;}
#timeline-slider .item.third-item .item-head, #timeline-slider .item.third-item #cd-timeline::before, #timeline-slider .item.third-item .cd-timeline-img.cd-picture{background-color: #359397!important;}
#timeline-slider .item .cd-timeline-content{margin-top: 40%;margin-right: 5%;}
#timeline-slider .item.second-item .cd-timeline-content{margin-top: 70%;margin-right: 5%;}
#timeline-slider .item.third-item .cd-timeline-content{margin-top: 10%;    margin-right: 5%;}
.cd-timeline-img.cd-picture::before {content: "";position: absolute;border-style: solid;border-color: #fff transparent;display: block;width: 0;top: -8px;right: auto;bottom: -15px;left: 0;border-width: 0 8px 8px;}


@media only screen and  (max-width: 1169px) {
.cd-timeline-content {margin-left: 40px!important;}
.cd-timeline-img {top: 10px!important;}
#cd-timeline {height: 405px;margin: 15px 0!important;}
.cd-timeline-content h2 {font-size: 12px;}
.cd-timeline-content.left::before {top: 8px!important;bottom: auto!important;left: -10px!important;border-width: 10px 15px 10px 0!important;border-color: transparent #fff!important;}
.cd-timeline-content::before {content: ""!important;position: absolute!important;bottom: -20px!important;left: 40px!important;border-width: 20px 20px 0!important;border-style: solid!important;border-color: #5a8f00 transparent!important;display: block!important;width: 0!important;}
.cd-timeline-img.cd-picture::before{display: none;}
}

#cd-timeline {position: relative;padding: 2em 0;margin-top: 2em;margin-bottom: 2em;}
#cd-timeline::before {
  /* this is the vertical line */
    z-index: -2;content: '';position: absolute;top: 0;left: 18px;height: 100%;width: 1px;background: #99e4e7;}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 15px;
    margin-bottom: 15px;
        height: 405px!important;

  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: -30px;
  left: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #99e4e7;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
   width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -9px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
position: relative;
    margin-left: 60px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0px 10px #ccc;
    z-index: -1;
}


}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  /*margin: 1em 0;*/
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
/*.cd-timeline-content::before {
  content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}
  .cd-timeline-content::before {
    top: -8px;
    right: auto;
    bottom: auto;
    left: 80px;
    border-width: 0 8px 8px;
    border-color: #fff transparent;
  }*/
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
/*  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;*/
  }

  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.heading h1{background-color: #0ac8cf;font-size: 20px;color: #fff;padding: 10px 20px;margin: 0;}
.upload-files-wrapper .drag-files{height: 165px;border: 2px dashed #7debba;padding:25px;margin-bottom: 20px;}
.upload-files-wrapper .drag-files a{color: rgba(23, 130, 82, 0.62);font-size: 12px;text-decoration: none;text-align: center;}
.upload-files-wrapper .drag-files a span{display: block;}
.upload-files-wrapper   .btn-wrapper button.upload-btn{width: 100%; margin-bottom: 15px;    background-color: #81f0be;color: #178252;outline: 0!important;text-align: left;}
.upload-files-wrapper  h1{    color: #57aa85;font-size: 18px;margin-top: 0;}
.upload-list-wrapper{max-height: 800px;overflow-y: auto;padding-right: 8px;}
.upload-list-wrapper .upload-list{padding: 0;}
.upload-list-wrapper .upload-list li, .upload-list-wrapper .upload-list li span a{list-style: none;font-size: 12px;color: #cecece;    padding-bottom: 45px;}
.upload-list-wrapper .upload-list li span.filename{color: #75787a;    white-space: nowrap;width: 130px;display: inline-block;overflow: hidden;text-overflow: ellipsis;}
.upload-list-wrapper .upload-list li span i{color: #cecece;display: block;text-align: center;    font-size: 40px;}
.upload-list-wrapper .upload-list li  .progress{border-radius: 5px;height: 10px;}
.upload-list-wrapper .upload-list li  .progress .progress-bar{ background-color: #7debba;   background-image: none;border-radius: 5px;}
.border-right{border-right: 1px solid #ccc;margin-top: 20px;}
@media only screen and  (max-width: 1199px) {
.border-right{border-right: 0;}
}