    /*Nav Tabs*/
/*    .dark-tabs-wrapper .nav-tabs{border:none;}
    .dark-tabs-wrapper .nav-tabs li a{background: #DCDCDC; color: #B9B9B9; padding: 7px 14px;border: 0; border-radius: 3px;}
    .dark-tabs-wrapper .nav-tabs li.active a{background: #525558; color: #0AC8CF; border: none;}
    .dark-tabs-wrapper .nav-tabs li:first-child a{margin: 0;}
    .dark-tabs-wrapper .nav-tabs li:nth-child(n) a{margin-right: 5px;}*/
    .dark-tabs-wrapper .nav-tabs{border:none;}
    .dark-tabs-wrapper .nav-tabs li a{font-size:12px;padding: 7px 14px;border-color: :#fff!important;border-radius: 4px;text-align: center;margin-right: 3px;color: #59c393!important;background-color: #525558!important;border-bottom-left-radius: 0!important;border-bottom-right-radius: 0!important;}
    .dark-tabs-wrapper .nav-tabs li.active a{border-color:#fff!important;border-bottom: 1px solid #fff!important;box-shadow: -2px -5px 6px rgba(204, 204, 204, 0.42);color: #59c393;background-color: #fff!important;-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
    .dark-tabs-wrapper .nav-tabs li:first-child a{margin: 0;}
    .dark-tabs-wrapper .nav-tabs li:nth-child(n) a{margin-right: 5px;}
    /*Inner Content Container*/
    .inner-content-container .content-user-interface .ui-options .go-back-btn{background: #59C393; padding: 10px 35px; border-radius: 5px;}
    .inner-content-container .content-user-interface .ui-options .dropdown{float: right;}
    .inner-content-container .content-user-interface .ui-options .dropdown-toggle{background: #5AC4C0; color: #FFFFFF; line-height: 1; padding: 10px; border-radius: 5px;}
    .inner-content-container .content-user-interface .ui-options .dropdown-toggle span.caret{margin-left: 20px;}
    /*Template List*/
    .template-list li.slide-item{border: 1px solid #DBDBDB; margin-bottom: 5px; height: 115px; outline: none; width: 100% !important;}
    .template-list li.slide-item:nth-child(odd){background: #E1FCF0;}
    .template-list li.slide-item:nth-child(even){background: #C8FDFF;}
    .template-list li.slide-item .template-name{height: 100%; border-right: 1px solid #DBDBDB;}
    .template-list li.slide-item .template-content{height: 100%;padding: 30px 250px 30px 30px;}
    .template-list li.slide-item .template-content .clipboard-btn{height: 25px; width: 25px; line-height: 25px; text-align:center; position: absolute; top: 13px; right: 20px; outline: none;}
    .template-list li.slide-item:nth-child(odd) .template-content .clipboard-btn{background: #C6F1DD; color: #4EA87F;}
    .template-list li.slide-item:nth-child(even) .template-content .clipboard-btn{background: #A2F2F5; color: #21989C;}
    .template-list li.slide-item .template-content .use-template-btn{padding: 8px 25px; position: absolute; bottom: 13px; right: 20px; text-decoration: none; outline: none;}
    .template-list li.slide-item:nth-child(odd) .template-content .use-template-btn{background: #59C393; color: #1A5B3E;}
    .template-list li.slide-item:nth-child(even) .template-content .use-template-btn{background: #41BBC0; color: #1A5B3E;}
    .template-list li.slide-item .template-name .name-wrapper{color: #75787A; padding: 0 20px;}
    .template-list li.slide-item .template-name .name-wrapper span{color: #0AC8CF;}
    .template-list-wrapper{box-shadow: 0px 0px 4.9px 0.1px rgba(87, 116, 119, 0.31); -o-box-shadow: 0px 0px 4.9px 0.1px rgba(87, 116, 119, 0.31); -moz-box-shadow: 0px 0px 4.9px 0.1px rgba(87, 116, 119, 0.31); -webkit-box-shadow: 0px 0px 4.9px 0.1px rgba(87, 116, 119, 0.31); padding: 35px 45px; border-radius: 20px;}
    .template-list-wrapper .carousel-next{background: #A0E1C3; color: #44A076; padding: 7px 15px;}

    .crm-form-wrapper .reminders-end-date-input{width:79%;}

    @media (max-width: 992px) {
      /*Inner Content Container*/

      /*Template List*/
      .template-list li.slide-item{height: auto;}
      .template-list li.slide-item .template-name{height: 50px; border-bottom: 1px solid #DBDBDB; border-right: none;}
      .template-list li.slide-item .template-content{padding: 20px 160px 20px 20px;}
      .template-list-wrapper{padding: 25px;}
    }
    @media only screen and (max-width: 544px) {

      .inner-content-container .content-user-interface .ui-options .dropdown,
      .inner-content-container .content-user-interface .ui-options .go-back-btn{margin-bottom:10px;}
      .inner-content-container .content-user-interface .ui-options .dropdown,
      .inner-content-container .content-user-interface .ui-options .dropdown .dropdown-toggle{width: 100%;}

      .dark-tabs-wrapper .nav-tabs li{width: 100%; margin: 3px 0;}
      .dark-tabs-wrapper .nav-tabs li a{width: 100%;}
      /*Template List*/
      .template-list li.slide-item .template-content{padding: 20px; padding-top: 60px;}
      .template-list li.slide-item .template-content .use-template-btn{padding: 6px 20px; top: 13px; left: inherit; bottom: inherit; right: inherit;}
    }
    /*xs*/
    @media only screen and (min-width: 545px) and (max-width: 768px){
      /*Template List*/
      .template-list li.slide-item .template-content{padding: 20px; padding-top: 60px;}
      .template-list li.slide-item .template-content .use-template-btn{padding: 6px 20px; top: 13px; left: inherit; bottom: inherit; right: inherit;}
    }
    /*sm*/
    @media only screen and (min-width: 769px) and (max-width: 922px){}
    /*md*/
    @media only screen and (min-width: 923px) and (max-width: 1024px){}
    @media only screen and (min-width: 1024px) and (max-width: 1200px){} 
    @media only screen and (min-width: 923px) and (max-width: 1200px){}
    @media only screen and (min-width: 992px) and (max-width: 1200px){}
    /*lg*/
    @media only screen and (min-width: 1201px) and (max-width: 1440px){}


    .crm-form-header .required-label{padding: 8px 20px; border:1px solid #A7DCC4;}
    .crm-form-offset{margin-left:40px;}

/*Add Template*/
.add-email-template tr td{padding:10px;}
.add-email-template tr td textarea{box-shadow:none; padding:0; height:150px; border: none !important;}
.add-email-template tr td .email-template-body{border: 1px solid #DBDBDB; padding: 15px; background:#FBFBFB;}
.add-email-template tr td .attachment-wrapper{display: table; width: 100%;}
.add-email-template tr td .dropfile-upload{border: 1px solid #577577; background:#f6f6f6; height: 80px; width: 90%; display:inline-block; position:relative; overflow:hidden;display: table-cell;}
.add-email-template tr td .dropfile-upload:before{font-family: 'FontAwesome'; content: "\f08d"; font-size:100px; color:#0ac8cf; opacity:0.2; position:absolute; top: -25px; left:5px;}
.add-email-template tr td .attachment-btn{display: inline-block; width: 15%; display: table-cell; vertical-align: middle;}
.add-email-template tr td .attachment-btn button{padding: 9px 7px; border-radius: 3px;}
.additional-template{border: 1px dashed #0AC8CF; background:#FBFBFB; color: #398285; display: block; padding: 20px 35px; margin: 10px;}

    @media only screen and (max-width: 544px) {
      .crm-form-header .header-left,
      .crm-form-header .header-right{margin-bottom:10px;}
      .crm-form-header .header-right{float: left !important; width: 100%;}
      .crm-form-wrapper .form-input,
      .crm-form-wrapper .grouped-input{margin-bottom: 10px;}
      .crm-form-wrapper .grouped-input .form-input{margin-bottom: 0;}
    }
    /*xs*/
    @media only screen and (min-width: 545px) and (max-width: 768px){
      .crm-form-header .header-left,
      .crm-form-header .header-right{margin-bottom:10px;}
      .crm-form-header .header-right{float: left !important; width: 100%;}
      .crm-form-wrapper .form-input,
      .crm-form-wrapper .grouped-input{margin-bottom: 10px;}
      .crm-form-wrapper .grouped-input .form-input{margin-bottom: 0;}
    }
    /*sm*/
    @media only screen and (min-width: 769px) and (max-width: 922px){
                .crm-form-wrapper .form-input,
                .crm-form-wrapper .grouped-input{margin-bottom: 10px;}
                .crm-form-wrapper .grouped-input .form-input{margin-bottom: 0;}
                .crm-form-offset{margin-left:60px;}
    }
    /*md*/
    @media only screen and (min-width: 923px) and (max-width: 1024px){
          .crm-form-wrapper .form-input,
          .crm-form-wrapper .grouped-input{margin-bottom: 10px;}
          .crm-form-wrapper .grouped-input .form-input{margin-bottom: 0;}
          .crm-form-offset{margin-left:70px;}
    }
    @media only screen and (min-width: 1024px) and (max-width: 1200px){
          .crm-form-offset{margin-left:70px;}
    } 
    @media only screen and (min-width: 923px) and (max-width: 1200px){}
    @media only screen and (min-width: 992px) and (max-width: 1200px){}
    /*lg*/
    @media only screen and (min-width: 1200px) and (max-width: 1330px){
          .crm-form-wrapper .reminders-end-date-input{width:100px;}
    }
    @media only screen and (min-width: 1201px) and (max-width: 1440px){}

    /*Fileuploader*/
    .upload-list-wrapper .upload-list li  .progress{height:5px;}
    .fileuploader-item .fileuploader-progressbar{top: 0; bottom:inherit !important; height:5px;}
    .fileuploader-action{display: initial !important; width: auto !important; height:auto !important; background:transparent !important; border-radius:0 !important; border: none !important; padding-bottom:0 !important;}